################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net5.0
/API/obj
/DatingApp/bin/Debug/net5.0
/DatingApp/obj

