################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net5.0
/API/obj
/DatingApp/bin/Debug/net5.0
/DatingApp/obj

.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Prj_01_Dating_App/v16/.suo
API/datingapp.db-shm
readme.txt
API/datingapp.db
API/datingapp.db
API/API.csproj
API/appsettings.json
API/datingapp.db
