<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="position: relative">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>

        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Messages</a>
                </li>
            </ul>
        </div>


        <div class="container-fluid">
            <form class="form-inline my-1 my-lg-0">
                <div class="form-group">
                    <input class="form-control m-1" type="search" placeholder="User Name">
                    <input class="form-control m-1 " type="search" placeholder="Password">
                    <button class="btn btn-outline-success m-1" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</nav>